body {
  display: grid;
  font-family: "Noto Sans TC";
  font-style: normal;
  grid-template-rows: auto 1fr auto;
  justify-self: center;
  min-height: 100vh;
}

nav {
  display: grid;
  grid-row: 1/2;
  grid-template-columns: auto minmax(300px, 1200px) auto;
  position: sticky;
  background-color: #ffffff;
  z-index: 10;
  top: 0;
  height: 54px;
}

nav > .nav_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
  align-content: center;
}

nav > .nav_box > .nav_title > a {
  font-weight: 700;
  font-size: 30px;
  color: #448899;
  text-decoration: none;
  padding-left: 10px;
}
nav > .nav_box > .nav_items {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  padding-right: 10px;
}
nav > .nav_box > .nav_items > .nav_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  border: 0;
  /*去邊*/
  background-color: #ffffff;
  padding-right: 10px;
  cursor: pointer;
}

main {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: auto minmax(300px, 1200px) auto;
  justify-content: center;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #666666;
}

.order_title {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  margin: 10px 0px;
  margin-left: 30px;
}

.order_text {
  font-weight: 500;
  font-size: 16px;
}
.order_title2 {
  font-weight: 700;
  font-size: 16px;
  display: flex;
}

.order_Section {
  grid-column: 2/3;
  padding: 0px 20px;
  margin: 10px 0px;
}

#order_Section1 {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 400px auto 100px;
}

#order_Section1 > .order_username {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 30px;
  margin-left: 30px;
}

#order_Section1 > .order_image {
  width: 266px;
  height: 200px;
  border: 1px solid #e8e8e8;
  grid-column: 1;
  justify-content: center;
  justify-self: center;
  background-size: cover;
  background-position: center;
}

#order_Section1 > .order_Section1_middle {
  display: grid;
  grid-column: 2;
}

#order_Section1 > .order_Section1_middle > .order_name {
  font-weight: 700;
  font-size: 16px;
  color: #448899;
}

#order_Section1 > .order_deletebtn {
  grid-column: 3;
  cursor: pointer;
}

#order_Section2 {
  display: grid;
  grid-row: 2/3;
}

#order_Section2 > .contact_form {
  display: grid;
}

#order_Section2 > .order_text2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-top: 20px;
  margin-left: 30px;
}

#order_Section3 {
  display: grid;
  grid-row: 3/4;
}

#order_Section3 > .creditCard_form {
  display: flex;
  flex-direction: column;
}

#order_Section3 > .creditCard_form > .card_input {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

#order_Section3 > .creditCard_form > .card_input > .tpfield {
  width: 200px;
  height: 38px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 12px;
  font-size: 14px;
}

.tappay-field-focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

#order_Section4 {
  display: grid;
  grid-row: 4/5;
}

#order_Section4 > .order_Section4_right {
  display: grid;
  grid-template-columns: auto 300px;
}

#order_Section4 > .order_Section4_right > .order_totalPrice {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  grid-column: 2;
  margin-left: 10px;
}

#order_Section4 > .order_Section4_right > .payment_btn {
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  color: #ffffff;
  width: 173px;
  height: 36px;
  background: #448899;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  grid-column: 2;
  cursor: pointer;
}

.input_box {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.content_input {
  width: 200px;
  height: 38px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 10px;
  padding: 6px 12px;
  font-size: 14px;
}

.input-image {
  background-position: center;
}

.content_input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

hr {
  border: 1px solid #ebebeb;
  height: 1px;
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.noBooking {
  /* justify-content: center; */
  align-content: center;
  color: #757575;
  font-weight: 700;
  font-size: 20px;
  display: grid;
  /* margin-left: 30px; */
  /* grid-column: 2/3; */
  margin-top: 50px;
}

footer {
  display: grid;
  grid-row: 3/4;
  background: #757575;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  justify-content: center;
  align-content: center;
  height: 104px;
}

.hidden {
  visibility: hidden;
}

.notify_box {
  position: fixed;
  top: 30%;
  left: 50%;
  background: #ffffff;
  box-shadow: 0px 4px 60px #aaaaaa;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  padding: 5rem 6rem;
  z-index: 1000;
  padding: 25px 10px 10px 10px;
  display: none;
  width: 250px;
  height: 200px;
}

.notify_top {
  position: absolute;
  width: 250px;
  height: 10px;
  left: 0px;
  top: 0px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 6px 6px 0px 0px;
}

.notify_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #666666;
  margin-top: 10px;
}

.notify_message {
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  justify-content: center;
  color: #666666;
  margin: 10px;
  line-height: 24px;
}

.btn_close_notify {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  font-size: 10px;
  border: none;
  background: none;
}

.show {
  display: block;
}

@media (max-width: 1200px) {
  nav > .nav_title > a {
    padding-left: 20px;
  }
  nav > .nav_title > .nav_items {
    padding-right: 20px;
  }

  main {
    display: grid;
    grid-template-columns: auto minmax(300px, 900px) auto;
  }

  main > #order_Section1 {
    grid-template-columns: 400px auto 80px;
  }

  #order_Section1 > .order_deletebtn {
    position: relative;
  }
  #order_Section1 > .order_deletebtn > img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #order_Section4 > .order_Section4_right > .order_totalPrice {
    margin-top: 25px;
  }

  hr {
    margin: 0px;
  }
}

@media (max-width: 900px) {
  main {
    grid-template-rows: auto;
    grid-template-columns: auto minmax(300px, 670px) auto;
  }
  main > #order_Section1 {
    display: block;
  }

  #order_Section1 > .order_image {
    width: 450px;
    height: 334px;
    margin: 30px 10px;
  }

  #order_Section1 > .order_Section1_middle {
    margin: 30px 20px 30px 40px;
    grid-gap: 30px;
  }

  #order_Section2 > .order_text2 {
    line-height: 25px;
  }
}

@media (max-width: 670px) {
  main {
    grid-template-rows: auto;
    grid-template-columns: auto minmax(300px, 540px) auto;
  }
}
