<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/attraction.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
    <title>Taipei-day-trip 台北一日遊</title>
  </head>
  <body>
    <nav>
      <div class="nav_box">
        <div class="nav_title"><a href="/">台北一日遊</a></div>
        <div class="nav_items">
          <button class="nav_item" id="nav_booking">排定行程</button>
          <button class="nav_item" id="nav_signin">登入/註冊</button>
          <button class="nav_item" id="nav_register">登出系統</button>
        </div>
      </div>
    </nav>
    <main>
      <div class="topSection">
        <div class="topSection_left">
          <div class="attrs_img">
            <button class="slide_btn slide_btn_left">
              <img src="../static/css/picture/btn_leftArrow.png" />
            </button>
            <button class="slide_btn slide_btn_right">
              <img src="../static/css/picture/btn_rightArrow.png" />
            </button>
            <div class="dots"></div>
          </div>
        </div>
        <div class="topSection_right">
          <div class="attrs_name"></div>
          <div class="booking_text attrs_inf"></div>
          <div class="booking_box">
            <div class="title">訂購導覽行程</div>
            <div class="booking_text">
              以此景點為中心的一日行程，帶您探索城市角落故事
            </div>
            <div class="title">
              選擇日期：
              <input type="date" class="booking_date" id="booking_date" />
            </div>
            <div class="title booking_time">
              選擇時間：
              <div class="booking_text morning">
                <input
                  type="radio"
                  id="booking_time_morning"
                  name="time"
                  value="morning"
                  onclick="updatePrice()"
                />
                上半天
              </div>
              <div class="booking_text afternoon">
                <input
                  type="radio"
                  id="booking_time_afternoon"
                  name="time"
                  value="afternoon"
                  onclick="updatePrice()"
                />
                下半天
              </div>
            </div>
            <div class="title booking_price">
              導覽費用：
              <div class="booking_text" id="price">新台幣2000元</div>
            </div>
            <button class="booking_btn">開始預約行程</button>
          </div>
        </div>
      </div>

      <div class="bottomSection">
        <hr />
        <div class="attrs_description"></div>
        <div class="address">
          <div class="title">景點地址：</div>
          <div class="attrs_address"></div>
        </div>
        <div class="transport">
          <div class="title">交通方式：</div>
          <div class="attrs_transport"></div>
        </div>
      </div>
    </main>
    <footer>COPYRIGHT © 2022 台北一日遊</footer>
    <div class="model model_signIn" id="model_signIn">
      <div class="model_top"></div>
      <button class="btn_close_model">
        <img src="../static/css/picture/icon_close.png" />
      </button>
      <div class="model_title">登入會員帳號</div>
      <form class="model_form signIn_form">
        <input
          type="email"
          name="email"
          id="logIn_email"
          placeholder="輸入電子信箱"
        />
        <input
          type="password"
          name="password"
          id="logIn_password"
          placeholder="輸入密碼"
        />
        <button class="model_btn" id="signIn_button" type="button">
          登入帳戶
        </button>
        <div class="signInMsg"></div>
        <button class="model_bottom" id="turnToRegister">
          還沒有帳戶？<a href="#" id="showRegisterForm">點此註冊</a>
        </button>
      </form>
    </div>
    <div class="model model_register" id="model_register">
      <div class="model_top"></div>
      <button class="btn_close_model">
        <img src="../static/css/picture/icon_close.png" />
      </button>
      <div class="model_title">註冊會員帳號</div>
      <form class="model_form register_form">
        <input
          type="text"
          name="name"
          id="register_name"
          placeholder="輸入姓名"
        />
        <input
          type="email"
          name="email"
          id="register_email"
          placeholder="輸入電子信箱"
        />
        <input
          type="password"
          name="password"
          id="register_password"
          placeholder="輸入密碼"
        />
        <button class="model_btn" id="register_button" type="button">
          註冊新帳戶
        </button>
        <div class="registerMsg"></div>
        <div class="model_bottom" id="turnToSignIn">
          已經有帳戶了？<a href="#" id="showLogInForm">點此登入</a>
        </div>
      </form>
    </div>
    <div class="notify_box">
      <div class="notify_top"></div>
      <button class="btn_close_notify">
        <img src="../static/css/picture/icon_close.png" />
      </button>
      <div class="notify_title">系統通知</div>
      <div class="notify_message"></div>
    </div>
    <div class="overlay"></div>
    <script src="../static/JS/attraction.js"></script>
    <script src="../static/JS/user.js"></script>
    <script src="../static/JS/booking.js"></script>
  </body>
</html>
