<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../statics/index.css" />
    <title>Taipei-day-trip 台北一日遊</title>
  </head>
  <body>
    <nav>
      <div class="nav_box">
        <div class="nav_title"><a href="/">台北一日遊</a></div>
        <div class="nav_items">
          <button class="nav_item nav_booking">排定行程</button>
          <button class="nav_item nav_signin">登入/註冊</button>
        </div>
      </div>
    </nav>

    <main></main>
    <footer>COPYRIGHT © 2022 台北一日遊</footer>
  </body>
</html>
