<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'components/head.html'%}
    <link rel="stylesheet" href="../static/css/attraction.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
  </head>
  <body>
    {% include 'components/navbar.html'%}
    <main>
      <div class="topSection">
        <div class="topSection_left">
          <div class="attrs_img">
            <button class="slide_btn slide_btn_left">
              <img src="../static/css/picture/btn_leftArrow.png" />
            </button>
            <button class="slide_btn slide_btn_right">
              <img src="../static/css/picture/btn_rightArrow.png" />
            </button>
            <div class="dots"></div>
          </div>
        </div>
        <div class="topSection_right">
          <div class="attrs_name"></div>
          <div class="booking_text attrs_inf"></div>
          <div class="booking_box">
            <div class="title">訂購導覽行程</div>
            <div class="booking_text">
              以此景點為中心的一日行程，帶您探索城市角落故事
            </div>
            <div class="title">
              選擇日期：
              <input type="date" class="booking_date" id="booking_date" />
            </div>
            <div class="title booking_time">
              選擇時間：
              <div class="booking_text morning">
                <input
                  type="radio"
                  id="booking_time_morning"
                  name="time"
                  value="morning"
                  onclick="updatePrice()"
                />
                上半天
              </div>
              <div class="booking_text afternoon">
                <input
                  type="radio"
                  id="booking_time_afternoon"
                  name="time"
                  value="afternoon"
                  onclick="updatePrice()"
                />
                下半天
              </div>
            </div>
            <div class="title booking_price">
              導覽費用：
              <div class="booking_text" id="price">新台幣2000元</div>
            </div>
            <button class="booking_btn">開始預約行程</button>
          </div>
        </div>
      </div>

      <div class="bottomSection">
        <hr />
        <div class="attrs_description"></div>
        <div class="address">
          <div class="title">景點地址：</div>
          <div class="attrs_address"></div>
        </div>
        <div class="transport">
          <div class="title">交通方式：</div>
          <div class="attrs_transport"></div>
        </div>
      </div>
    </main>
    {% include 'components/footer.html'%} {% include 'components/signIn.html'%}
    {% include 'components/register.html'%}
    <div class="notify_box">
      <div class="notify_top"></div>
      <button class="btn_close_notify">
        <img src="../static/css/picture/icon_close.png" />
      </button>
      <div class="notify_title">系統通知</div>
      <div class="notify_message"></div>
    </div>
    <div class="overlay"></div>
    <script src="../static/JS/attraction.js"></script>
    <script src="../static/JS/user.js"></script>
    <script src="../static/JS/booking.js"></script>
  </body>
</html>
