<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'components/head.html'%}
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css" />
  </head>
  <body>
    {% include 'components/navbar.html'%}
    <main id="main_booking">
      <div class="order_Section order_info hidden" id="order_Section2">
        <hr />
        <div class="order_title">您的聯絡資訊</div>
        <form class="contact_form">
          <div class="input_box">
            <label class="order_text" for="contact_name">聯絡姓名：</label>
            <input type="text" class="content_input" id="contact_name" />
            <img class="input-image" >
          </div>
          <div class="input_box">
            <label class="order_text" for="contact_email">聯絡信箱：</label>
            <input type="email" class="content_input" id="contact_email" />
            <img class="input-image" >
          </div>
          <div class="input_box">
            <label class="order_text" for="contact_phone">手機號碼：</label>
            <input type="tel" class="content_input" id="contact_phone" />
            <img class="input-image" >
          </div>
        </form>
        <div class="order_text2">
          請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        </div>
      </div>
      <div class="order_Section order_info hidden" id="order_Section3">
        <hr />
        <div class="order_title">信用卡付款資訊</div>

        <form class="creditCard_form">
          <div class="order_text card_input"">
            卡片號碼：
            <div class="tpfield " id="card-number"></div>
            <img class="input-image"  >
          </div>
          <div class="order_text card_input" >
            過期時間：
            <div class="tpfield " id="card-expiration-date"></div>
            <img class="input-image"  >
          </div>
          <div class="order_text card_input" >
            驗證密碼：
            <div class="tpfield" id="card-ccv"></div>
            <img class="input-image"  >
          </div>
        </form>
      </div>

      <div class="order_Section order_info hidden" id="order_Section4">
        <hr />
        <div class="order_Section4_right">
          <div class="order_totalPrice" id="order_totalPrice"></div>
          <button class="payment_btn" >確認訂購並付款</button>
        </div>
      </div>
    </main>
    {% include 'components/footer.html'%} {% include 'components/signIn.html'%}
    {% include 'components/register.html'%}
    <div class="notify_box">
      <div class="notify_top"></div>
      <button class="btn_close_notify">
        <img src="../static/css/picture/icon_close.png" />
      </button>
      <div class="notify_title">系統通知</div>
      <div class="notify_message"></div>
    </div>
    <div class="overlay"></div>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script src="../static/JS/user.js"></script>
    <script src="../static/JS/booking.js"></script>
  </body>
</html>

