<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../statics/index.css" />
    <title>Taipei-day-trip 台北一日遊</title>
  </head>
  <body>
    <nav>
      <div class="nav_box">
        <div class="nav_title"><a href="/">台北一日遊</a></div>
        <div class="nav_items">
          <button class="nav_item nav_booking">排定行程</button>
          <button class="nav_item nav_signin">登入/註冊</button>
        </div>
      </div>
    </nav>
    <header>
      <div class="welcome">
        <div class="welcome_slogan1">輕鬆享受台北一日休閒</div>
        <div class="welcome_slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="welcome_search">
          <input type="text" placeholder="輸入景點名稱查詢" />
          <button class="search_btn">
            <img src="../statics/picture/icon/icon_search.png" />
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="attrs_card">
        <div class="attrs_img"></div>
        <div class="attrs_name">平安鐘</div>
        <div class="attrs_inf">
          <div class="attrs_mrt">忠孝復興</div>
          <div class="attrs_cat">公共藝術</div>
        </div>
      </div>
    </main>
    <footer>COPYRIGHT © 2022 台北一日遊</footer>
  </body>
</html>
