<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
    <title>Taipei-day-trip 台北一日遊</title>
  </head>
  <body>
    <nav>
      <div class="nav_box">
        <div class="nav_title"><a href="/">台北一日遊</a></div>
        <div class="nav_items">
          <button class="nav_item nav_booking">排定行程</button>
          <button class="nav_item" id="nav_signin">登入/註冊</button>
          <button class="nav_item" id="nav_register">登出系統</button>
        </div>
      </div>
    </nav>
    <header>
      <div class="welcome">
        <div class="welcome_slogan1">輕鬆享受台北一日休閒</div>
        <div class="welcome_slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="welcome_search">
          <input type="text" id="searchInput" placeholder="輸入景點名稱查詢" />
          <button class="search_btn" id="search_btn">
            <img src="../static/css/picture/icon_search.png" />
          </button>
          <div class="category_list" id="category_list"></div>
        </div>
      </div>
    </header>
    <main></main>
    <footer>COPYRIGHT © 2022 台北一日遊</footer>
    <div class="model model_signIn" id="model_signIn">
      <div class="model_top"></div>
      <button class="btn_close_model">
        <img src="../static/css/picture/icon_close.png" />
      </button>
      <div class="model_title">登入會員帳號</div>
      <form class="model_form signIn_form">
        <input
          type="email"
          name="email"
          id="logIn_email"
          placeholder="輸入電子信箱"
        />
        <input
          type="password"
          name="password"
          id="logIn_password"
          placeholder="輸入密碼"
        />
        <button class="model_btn" id="signIn_button" type="button">
          登入帳戶
        </button>
        <div class="signInMsg"></div>
        <button class="model_bottom" id="turnToRegister">
          還沒有帳戶？<a href="#" id="showRegisterForm">點此註冊</a>
        </button>
      </form>
    </div>
    <div class="model model_register" id="model_register">
      <div class="model_top"></div>
      <button class="btn_close_model">
        <img src="../static/css/picture/icon_close.png" />
      </button>
      <div class="model_title">註冊會員帳號</div>
      <form class="model_form register_form">
        <input
          type="text"
          name="name"
          id="register_name"
          placeholder="輸入姓名"
        />
        <input
          type="email"
          name="email"
          id="register_email"
          placeholder="輸入電子信箱"
        />
        <input
          type="password"
          name="password"
          id="register_password"
          placeholder="輸入密碼"
        />
        <button class="model_btn" id="register_button" type="button">
          註冊新帳戶
        </button>
        <div class="registerMsg"></div>
        <div class="model_bottom" id="turnToSignIn">
          已經有帳戶了？<a href="#" id="showLogInForm">點此登入</a>
        </div>
      </form>
    </div>
    <div class="overlay"></div>
    <script src="../static/JS/index.js"></script>
    <script src="../static/JS/user.js"></script>
  </body>
</html>
