<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'components/head.html'%}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
  </head>
  <body>
    {% include 'components/navbar.html'%}
    <header>
      <div class="welcome">
        <div class="welcome_slogan1">輕鬆享受台北一日休閒</div>
        <div class="welcome_slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="welcome_search">
          <input type="text" id="searchInput" placeholder="輸入景點名稱查詢" />
          <button class="search_btn" id="search_btn">
            <img src="../static/css/picture/icon_search.png" />
          </button>
          <div class="category_list" id="category_list"></div>
        </div>
      </div>
    </header>
    <main></main>
    {% include 'components/footer.html'%} {% include 'components/signIn.html'%}
    {% include 'components/register.html'%}
    <div class="overlay"></div>
    <script src="../static/JS/index.js"></script>
    <script src="../static/JS/user.js"></script>
    <!-- <script src="../static/JS/booking.js"></script> -->
  </body>
</html>
