<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'components/head.html'%}
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/thankyou.css" />
  </head>
  <body>
    {% include 'components/navbar.html'%}
    <main>
      <div class="thank_top">
        <div class="thank_title">付款成功！</div>
        <div class="thank_title">感謝您的訂購，祝您旅途愉快</div>
      </div>
      <div class="thank_info"></div>
      <div class="thank_contact"></div>
      <div class="thank_bottom">
        <button class="btnBackIndex">回到首頁</button>
      </div>
    </main>
    {% include 'components/footer.html'%} {% include 'components/signIn.html'%}
    {% include 'components/register.html'%}
    <div class="overlay"></div>
    <script src="../static/JS/user.js"></script>
    <script src="../static/JS/order.js"></script>
  </body>
</html>
