<div class="model model_register" id="model_register">
  <div class="model_top"></div>
  <button class="btn_close_model">
    <img src="../static/css/picture/icon_close.png" />
  </button>
  <div class="model_title">註冊會員帳號</div>
  <form class="model_form register_form">
    <input type="text" name="name" id="register_name" placeholder="輸入姓名" />
    <input
      type="email"
      name="email"
      id="register_email"
      placeholder="輸入電子信箱"
    />
    <input
      type="password"
      name="password"
      id="register_password"
      placeholder="輸入密碼"
    />
    <button class="model_btn" id="register_button" type="button">
      註冊新帳戶
    </button>
    <div class="registerMsg"></div>
    <div class="model_bottom" id="turnToSignIn">
      已經有帳戶了？<a href="#" id="showLogInForm">點此登入</a>
    </div>
  </form>
</div>
