<div class="model model_signIn" id="model_signIn">
  <div class="model_top"></div>
  <button class="btn_close_model">
    <img src="../static/css/picture/icon_close.png" />
  </button>
  <div class="model_title">登入會員帳號</div>
  <form class="model_form signIn_form">
    <input
      type="email"
      name="email"
      id="logIn_email"
      placeholder="輸入電子信箱"
    />
    <input
      type="password"
      name="password"
      id="logIn_password"
      placeholder="輸入密碼"
    />
    <button class="model_btn" id="signIn_button" type="button">登入帳戶</button>
    <div class="signInMsg"></div>
    <button class="model_bottom" id="turnToRegister">
      還沒有帳戶？<a href="#" id="showRegisterForm">點此註冊</a>
    </button>
  </form>
</div>
